<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2023
 * MIT License
 * Module AnassTouatiCoder_BackToTop
 * Author Anass TOUATI anass1touati@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Page\Config">
        <plugin name="AnassTouatiCoder_BackToTop_Plugin_Backend_Magento_Framework_View_Page_Config"
                type="AnassTouatiCoder\BackToTop\Plugin\Backend\Magento\Framework\View\Page\Config"
                sortOrder="10" disabled="false"/>
    </type>
</config>
